<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Available</th>
            <th>Buy</th>
            <th>Sell</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(name, company) in stocklist.companies">
            <th>{{name}}</th>
            <th>{{company.price.current}}</th>
            <th>{{company.stocks.available}}</th>
            <th><span class="glyphicon glyphicon-plus text-success pointer" ng-click="stocklist.buy(name)"></span></th>
            <th><span class="glyphicon glyphicon-minus text-danger pointer" ng-click="stocklist.sell(name)"></span></th>
        </tr>
    </tbody>
</table>
